# dockerignore - modifies docker context to exclude files and directories
# https://docs.docker.com/engine/reference/builder/#dockerignore-file

.DS_Store
node_modules
package-lock.json
yarn.lock
/dist

.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
