.layout.block {
  background-color: red;
  opacity: 0.6;

  .layout.block {
    background-color: green;

    .layout.block {
      background-color: orange;

      .layout.block {
        background-color: black;

        .layout.block {
          background-color: white;
        }
      }
    }
  }
}
